    
    </div><!-- container -->
    <!-- p>TredeMark YelpCamp 2021</p -->
    <footer class="footer" style="margin-top: 15px;">
      <div class="container">
        <p class="text-muted">&copy; YelpCamp 2021 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
      </div>
    </footer>
    <!-- Bootstrap and its dependencies -->
    <script src="/jquery-3-6-0.min.js"></script>
    <script src="/popper-1-16-1.min.js"></script>
    <script src="/bootstrap-4-6-0.min.js"></script>
  </body>
</html>
